.main-content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}
body {
  background: linear-gradient(180deg, #0f0f0f, #1a1a1a);
  color: white;
}
